@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme{
  --color-g-1: #84ffc9;
  --color-g-2: #aab2ff;
  --color-g-3: #eca0ff;
  --color-g-4: #40c9ff;
  --color-g-5: #e81cff;
  --color-g-6: #57ebde;
  --color-g-7: #aefb2a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
